.div5{
    height: 100%;
    width:99.7%;
    margin-top: 4%;
    position:absolute;
   

}
.div6{
    height: 100%;
    width:35%;
    margin-left: 8%;
    margin-top: 6%;
    display: grid;
    
    grid-template-columns: auto auto;
   
   
 

}
.text2{
    height:60%;
    width:35%;
    position :absolute;
    margin-left: 55%;
    margin-top: 10%;
    text-align: left;
  
}
h1{
    font-family:'Sora',sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 70px;
}
p{
    font-size: 20px;
}
#a1{
  height: 10%;
  width:40%;
  background-color:	#8B4513;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  border: 0;
}

.three{
    height: 50%;
    width: 99.5%;
    margin-top: 4%;
    border: 2px solid blue;
}
.grid-item {
  
   
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }